<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
namespace  名称空间，一般需要保持全局唯一，最后保持和mapper层的java接口一致
可以映射 sql 语句 到对应的方法名和参数、返回类型

mybatis 是使用接口动态代理
-->
<mapper namespace="com.ml.timi.mapper.VideoMapper">

    <!--
    statement sql
    id：在当前的mapper下必须唯一
    resultType：sql查询结果集的封装
    -->
    <select id="selectById" resultType="com.ml.timi.entity.Video">
        select *
        from video
        where id = #{video_id}
    </select>


   <!-- <select id="selectList" resultType="com.ml.timi.entity.Video">

        select *
        from video

    </select>-->

</mapper>